.upload__image-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px dashed #cccccc;

    height: 300px;
    width: 300px;
    margin: 0 auto;
    border-radius: 10px;
}

.upload__image-wrapper button {
    width: 100%;
    height: 100%;
    background-color: white;
    color: black;
    transition: background-color 0.3s;
}


.image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 90%;
}

.image-item img {
    width: 100%;
    height: 80%;
    min-height: 80%;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.image-item__btn-wrapper {
    height: 100%;
    width: 100%;
}

.image-item__btn-wrapper button {
    height: 100%;
    width: 50%;
    font-size: 12px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    transition: background-color 0.3s;
}

.image-item__btn-wrapper button:hover {
    background-color: #218838;
}

.image-item__btn-wrapper button:last-child {
    background-color: #dc3545;
}

.image-item__btn-wrapper button:last-child:hover {
    background-color: #c82333;
}