:root {
    --ancho: 6em;
    --alto: 6em;
    --primary: rgba(73, 54, 40, 1);
    --secondary: rgba(171, 136, 109, 1);
}

nav {
    width: 100%;

    & .contenido-nav {
        padding: 1em;
        margin: 0;
        width: 100%;
        display: flex;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 1000;
        justify-content: space-between;
    
        & .logo {
            display: flex;
            align-items: flex-end;
            &  h1 {
                margin: 0;
            }
            & img {
                width: var(--ancho);
                height: var(--alto);
            }
        } 
    
        .botones {
            display: flex;
            gap: 2em;
            justify-content: center;
            flex-grow: 1;
            text-align: center;
    
            & button {
                border: 1px dotted black;
                background-color: var(--primary);
                padding: 0.5em;
                background-repeat: repeat-x;
                border-style: none;
                transition: background-color 0.3s ease, color 0.3s ease;
            
                &:hover {
                    background-color: var(--secondary);
                    color: black;
                }
            }
        }
    }
    
    
    
    & .embellezedor {
        background: linear-gradient(90deg, rgba(73, 54, 40, 1) 33%, rgba(171, 136, 109, 1) 66%, rgba(214, 192, 179, 1) 100%);
        width: 100%;
        height: 1em;
    }
}


@keyframes shake-rotate {
    0% {
        transform: translateX(0) rotate(0deg);
    }
    25% {
        transform: translateX(-5px) rotate(-5deg);
    }
    50% {
        transform: translateX(5px) rotate(5deg);
    }
    75% {
        transform: translateX(-5px) rotate(-5deg);
    }
    100% {
        transform: translateX(0) rotate(0deg);
    }
}

.shake-image {
    transition: transform 1s ease-in-out;
}

.shake-image:hover {
    animation: shake-rotate 1s ease-in-out 1;
}
